<!-- Services Section -->
    <section id="hardware" >
        <div class="container">
            <!-- Hardware section -->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading text-left">Hardware Requirements</h2>
                    <ul class="text-left col-md-6">
                        <li> <b>6 connections</b> between interface and target chip
                            <ul>
                            <li>VCC/GND</li>
                            <li>UART TX / RX, </li>
                            <li>SWD, </li>
                            <li>Reset </li>
                            </ul>
                        </li>
                        <li><b>3 USB Endpoints</b> exposed to the computer
                        <ul>
                            <li>Virtual COM Port - printf feedback</li>
                            <li>Mass Storage Device (MSD) - drag n drop programming</li>
                            <li>Debug Access Port - debug / IDE interface</li>
                        </ul>
                        </li>
                        <li>Schematics in <a href="http://github.com/armmbed/mbed-HDK"> mbed-HDK</a></li>
                    </ul>
                    <div class="col-md-6">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/o2sqTh5hlco"></iframe>
                    </div>
                </div>
            </div>
            <!-- Interface Circuit section -->
            <div class="row text-center">
                <div class="col-lg-12" >
                    <h2 class="section-heading text-left">Interface Circuits</h2>
                    {% for chip in site.data.interface-chips %}
                    <div class="col-md-3">
                        <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-microchip fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">{{chip.name}}</h4>
                        <p class="text-muted text">{{chip.description}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Interface Board section -->
            <h2 class="section-heading text-left">Interface Boards</h2>
            {% for board in site.data.interface-boards %}
            <div class="row text-left">
                <div class="col-lg-12">
                    <img class="col-md-4" src={{board.picture}}>
                    <div class="col-md-8">
                        <h3 class="service-heading">{{board.name}}</h4>
                        <p class="text-muted">{{board.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>