<!-- Navigation -->

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="intro-text">
                    <div class="intro-lead-in">A better way to firmware</div>
                    <div class="intro-heading">DAPLink</div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-upload fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Firmware Update</h4>
                    <p class="text-muted">Update to the latest DAPLink firmware for the best performance and latest features!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">DIY Software</h4>
                    <p class="text-muted">Guide to implimenting DAPLink on the chip of your choice. Not for the faint of heart.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-microchip fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Reference Designs</h4>
                    <p class="text-muted">Reference circuit implimentations for existing interfaces.</p>
                </div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

