<!-- Navigation -->

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="intro-text">
                    <div class="intro-lead-in">A better way to firmware</div>
                    <div class="intro-heading">DAPLink</div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 ">
                    <a class="page-scroll" href="#hardware">
                    <span class="fa-stack fa-4x click-icon">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-microchip fa-stack-1x fa-inverse"></i>
                    </span>
                    </a>
                    <h4 class="service-heading">Hardware</h4>
                    <p class="text-muted">Reference circuit implimentations for existing interfaces.</p>
                </div>
                <div class="col-md-4">
                    <a class="page-scroll" href="#update">
                        <span class="fa-stack fa-4x click-icon">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-download fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <h4 class="service-heading">Firmware Update</h4>
                    <p class="text-muted">Update to the latest DAPLink firmware for the best performance and latest features!</p>
                </div>
                <div class="col-md-4">
                    <a class="page-scroll" href="#faq">
                        <span class="fa-stack fa-4x click-icon">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-question fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <h4 class="service-heading">FAQ</h4>
                    <p class="text-muted">Common questions, answers, and guidance.</p>
                </div>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

