 <!-- Portfolio Modals -->
 {% for chip in site.data.interface-chips %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ chip.name }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ chip.name }}</h2>
                            <hr class="star-primary">
                            {% if chip.picture%}
                            <img src="{{ chip.picture }}" class="img-responsive img-centered">
                            {% endif %}
                            <p>{{ chip.description | markdownify}}</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
