<!-- Update Section -->
    <section id="update" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <h2 class="section-heading text-left">Firmware Update</h2>
                <input id="update-search" type="text" placeholder="Name of your board / target / interface">
                <div id="update-instructions" class="col-lg-10"></div>
                </div>
            </div>
        </div>
    </section>