<!-- Update Section -->
    <section id="update" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 id="firmware" class="section-heading text-left">Interface firmware updates</h2>
                    <input id="update-search" type="text" placeholder="Name of board">
                    <div id="update-instructions" class="col-lg-10">
                        <h3 id="file-name" style="word-wrap:break-word;"></h3>
                        <div>

                          <!-- Nav tabs -->
                          <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation"><a href="#update-instructions-windows" aria-controls="update-instructions-windows" role="tab" data-toggle="tab">Windows</a></li>
                            <li role="presentation"><a href="#update-instructions-linux" aria-controls="update-instructions-linux" role="tab" data-toggle="tab">Linux</a></li>
                            <li role="presentation"><a href="#update-instructions-osx" aria-controls="update-instructions-osx" role="tab" data-toggle="tab">Mac</a></li>
                          </ul>

                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="update-instructions-windows">...</div>
                            <div role="tabpanel" class="tab-pane" id="update-instructions-linux">...</div>
                            <div role="tabpanel" class="tab-pane" id="update-instructions-osx">...</div>
                          </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
