<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<ProjectOpt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="project_opt.xsd">

  <SchemaVersion>1.0</SchemaVersion>

  <Header>### uVision Project, (C) Keil Software</Header>

  <Extensions>
    <cExt>*.c</cExt>
    <aExt>*.s*; *.src; *.a*</aExt>
    <oExt>*.obj</oExt>
    <lExt>*.lib</lExt>
    <tExt>*.txt; *.h; *.inc</tExt>
    <pExt>*.plm</pExt>
    <CppX>*.cpp</CppX>
  </Extensions>

  <DaveTm>
    <dwLowDateTime>0</dwLowDateTime>
    <dwHighDateTime>0</dwHighDateTime>
  </DaveTm>

  <Target>
    <TargetName>lpc11u35_bootloader</TargetName>
    <ToolsetNumber>0x4</ToolsetNumber>
    <ToolsetName>ARM-ADS</ToolsetName>
    <TargetOption>
      <CLKADS>48000000</CLKADS>
      <OPTTT>
        <gFlags>1</gFlags>
        <BeepAtEnd>1</BeepAtEnd>
        <RunSim>1</RunSim>
        <RunTarget>0</RunTarget>
      </OPTTT>
      <OPTHX>
        <HexSelection>1</HexSelection>
        <FlashByte>65535</FlashByte>
        <HexRangeLowAddress>0</HexRangeLowAddress>
        <HexRangeHighAddress>0</HexRangeHighAddress>
        <HexOffset>0</HexOffset>
      </OPTHX>
      <OPTLEX>
        <PageWidth>79</PageWidth>
        <PageLength>66</PageLength>
        <TabStop>8</TabStop>
        <ListingPath>.\Lst\</ListingPath>
      </OPTLEX>
      <ListingPage>
        <CreateCListing>1</CreateCListing>
        <CreateAListing>1</CreateAListing>
        <CreateLListing>1</CreateLListing>
        <CreateIListing>0</CreateIListing>
        <AsmCond>1</AsmCond>
        <AsmSymb>1</AsmSymb>
        <AsmXref>0</AsmXref>
        <CCond>1</CCond>
        <CCode>0</CCode>
        <CListInc>0</CListInc>
        <CSymb>0</CSymb>
        <LinkerCodeListing>0</LinkerCodeListing>
      </ListingPage>
      <OPTXL>
        <LMap>1</LMap>
        <LComments>1</LComments>
        <LGenerateSymbols>1</LGenerateSymbols>
        <LLibSym>1</LLibSym>
        <LLines>1</LLines>
        <LLocSym>1</LLocSym>
        <LPubSym>1</LPubSym>
        <LXref>0</LXref>
        <LExpSel>0</LExpSel>
      </OPTXL>
      <OPTFL>
        <tvExp>1</tvExp>
        <tvExpOptDlg>0</tvExpOptDlg>
        <IsCurrentTarget>1</IsCurrentTarget>
      </OPTFL>
      <CpuCode>8</CpuCode>
      <Books>
        <Book>
          <Number>0</Number>
          <Title>Data Sheet</Title>
          <Path>DATASHTS\NXP\LPC11Uxx\LPC11U3x_DS.pdf</Path>
        </Book>
        <Book>
          <Number>1</Number>
          <Title>User Manual</Title>
          <Path>DATASHTS\NXP\LPC11Uxx\LPC11U3x_UM.pdf</Path>
        </Book>
        <Book>
          <Number>2</Number>
          <Title>Technical Reference Manual</Title>
          <Path>datashts\arm\cortex_m0\r0p0\DDI0432C_CORTEX_M0_R0P0_TRM.PDF</Path>
        </Book>
        <Book>
          <Number>3</Number>
          <Title>Generic User Guide</Title>
          <Path>datashts\arm\cortex_m0\r0p0\DUI0497A_CORTEX_M0_R0P0_GENERIC_UG.PDF</Path>
        </Book>
      </Books>
      <DllOpt>
        <SimDllName>SARMCM3.DLL</SimDllName>
        <SimDllArguments></SimDllArguments>
        <SimDlgDllName>DARMCM1.DLL</SimDlgDllName>
        <SimDlgDllArguments>-pCM0</SimDlgDllArguments>
        <TargetDllName>SARMCM3.DLL</TargetDllName>
        <TargetDllArguments></TargetDllArguments>
        <TargetDlgDllName>TARMCM1.DLL</TargetDlgDllName>
        <TargetDlgDllArguments>-pCM0</TargetDlgDllArguments>
      </DllOpt>
      <DebugOpt>
        <uSim>0</uSim>
        <uTrg>1</uTrg>
        <sLdApp>1</sLdApp>
        <sGomain>1</sGomain>
        <sRbreak>1</sRbreak>
        <sRwatch>1</sRwatch>
        <sRmem>1</sRmem>
        <sRfunc>1</sRfunc>
        <sRbox>1</sRbox>
        <tLdApp>1</tLdApp>
        <tGomain>1</tGomain>
        <tRbreak>1</tRbreak>
        <tRwatch>1</tRwatch>
        <tRmem>1</tRmem>
        <tRfunc>0</tRfunc>
        <tRbox>1</tRbox>
        <tRtrace>0</tRtrace>
        <sRunDeb>0</sRunDeb>
        <sLrtime>0</sLrtime>
        <nTsel>9</nTsel>
        <sDll></sDll>
        <sDllPa></sDllPa>
        <sDlgDll></sDlgDll>
        <sDlgPa></sDlgPa>
        <sIfile></sIfile>
        <tDll></tDll>
        <tDllPa></tDllPa>
        <tDlgDll></tDlgDll>
        <tDlgPa></tDlgPa>
        <tIfile></tIfile>
        <pMon>BIN\ULP2CM3.DLL</pMon>
      </DebugOpt>
      <TargetDriverDllRegistry>
        <SetRegEntry>
          <Number>0</Number>
          <Key>CMSIS_AGDI</Key>
          <Name></Name>
        </SetRegEntry>
        <SetRegEntry>
          <Number>0</Number>
          <Key>DLGTARM</Key>
          <Name>(1010=-1,-1,-1,-1,0)(1007=-1,-1,-1,-1,0)(1008=-1,-1,-1,-1,0)</Name>
        </SetRegEntry>
        <SetRegEntry>
          <Number>0</Number>
          <Key>ARMDBGFLAGS</Key>
          <Name></Name>
        </SetRegEntry>
        <SetRegEntry>
          <Number>0</Number>
          <Key>DLGUARM</Key>
          <Name></Name>
        </SetRegEntry>
        <SetRegEntry>
          <Number>0</Number>
          <Key>ULP2CM3</Key>
          <Name>-UP1048454 -O4335 -S0 -C0 -P00 -N00("ARM CoreSight SW-DP") -D00(0BB11477) -L00(0) -TO18 -TC10000000 -TP18 -TDX0 -TDD0 -TDS8000 -TDT0 -TDC1F -TIEFFFFFFFF -TIP8 -FO15 -FD10000000 -FC800 -FN1 -FF0LPC1xxx_64 -FS00 -FL010000</Name>
        </SetRegEntry>
      </TargetDriverDllRegistry>
      <Breakpoint/>
      <WatchWindow1>
        <Ww>
          <count>0</count>
          <WinNumber>1</WinNumber>
          <ItemText>target</ItemText>
        </Ww>
        <Ww>
          <count>1</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\usbd_user_msc.c\nb_sector</ItemText>
        </Ww>
        <Ww>
          <count>2</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\usbd_user_msc.c\current_sector</ItemText>
        </Ww>
        <Ww>
          <count>3</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\usbd_user_msc.c\current_page</ItemText>
        </Ww>
        <Ww>
          <count>4</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\main.c\usbConnect</ItemText>
        </Ww>
        <Ww>
          <count>5</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\jtaghost.c\res</ItemText>
        </Ww>
        <Ww>
          <count>6</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\usbd_user_msc.c\BlockBuf</ItemText>
        </Ww>
        <Ww>
          <count>7</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\usbd_MK20D5.c\fl</ItemText>
        </Ww>
        <Ww>
          <count>8</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\version.c\unique_id</ItemText>
        </Ww>
        <Ww>
          <count>9</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\version.c\string_id</ItemText>
        </Ww>
        <Ww>
          <count>10</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\version.c\auth</ItemText>
        </Ww>
        <Ww>
          <count>11</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\version.c\string_auth</ItemText>
        </Ww>
        <Ww>
          <count>12</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\usbd_user_cdc.c\ser_in</ItemText>
        </Ww>
        <Ww>
          <count>13</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\version.c\result</ItemText>
        </Ww>
        <Ww>
          <count>14</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\usbd_user_cdc.c\ser_in</ItemText>
        </Ww>
        <Ww>
          <count>15</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\DAP.c\DAP_Data</ItemText>
        </Ww>
        <Ww>
          <count>16</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\../Common/src/version.c\readUniqueID\id</ItemText>
        </Ww>
        <Ww>
          <count>17</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\../Common/src/version.c\result</ItemText>
        </Ww>
        <Ww>
          <count>18</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\../lpc11u35/src/system_LPC11Uxx.c\SystemCoreClock</ItemText>
        </Ww>
        <Ww>
          <count>19</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\../Common/src/version.c\string_auth_descriptor</ItemText>
        </Ww>
        <Ww>
          <count>20</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\../Common/src/version.c\string_auth</ItemText>
        </Ww>
        <Ww>
          <count>21</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\../lpc11u35/src/usbd_user_cdc.c\start_break_time</ItemText>
        </Ww>
        <Ww>
          <count>22</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\../Common/src/main.c\led_state</ItemText>
        </Ww>
        <Ww>
          <count>23</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\../Common/src/main.c\usbLed</ItemText>
        </Ww>
        <Ww>
          <count>24</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\../Common/src/usbd_user_msc.c\BlockBuf</ItemText>
        </Ww>
        <Ww>
          <count>25</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\../Common/src/usbd_user_msc.c\flashPtr</ItemText>
        </Ww>
        <Ww>
          <count>26</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\../Common/src/main.c\start_app</ItemText>
        </Ww>
        <Ww>
          <count>27</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\../Common/src/usbd_user_msc.c\reason</ItemText>
        </Ww>
        <Ww>
          <count>28</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\../Common/src/usbd_user_msc.c\size,0x10</ItemText>
        </Ww>
        <Ww>
          <count>29</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\../Common/src/usbd_user_msc.c\current_sector</ItemText>
        </Ww>
        <Ww>
          <count>30</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\../Common/src/usbd_user_msc.c\nb_sector</ItemText>
        </Ww>
        <Ww>
          <count>31</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\../Common/src/usbd_user_msc.c\drag_success</ItemText>
        </Ww>
        <Ww>
          <count>32</count>
          <WinNumber>1</WinNumber>
          <ItemText>\\k20_InterfaceJTAG\../Common/src/main.c\start_app</ItemText>
        </Ww>
      </WatchWindow1>
      <MemoryWindow1>
        <Mm>
          <WinNumber>1</WinNumber>
          <SubType>1</SubType>
          <ItemText>0x5145</ItemText>
        </Mm>
      </MemoryWindow1>
      <MemoryWindow2>
        <Mm>
          <WinNumber>2</WinNumber>
          <SubType>1</SubType>
          <ItemText>0x0000E3F4</ItemText>
        </Mm>
      </MemoryWindow2>
      <MemoryWindow3>
        <Mm>
          <WinNumber>3</WinNumber>
          <SubType>2</SubType>
          <ItemText>0x400ff054</ItemText>
        </Mm>
      </MemoryWindow3>
      <Tracepoint>
        <THDelay>0</THDelay>
      </Tracepoint>
      <DebugFlag>
        <trace>0</trace>
        <periodic>0</periodic>
        <aLwin>1</aLwin>
        <aCover>0</aCover>
        <aSer1>0</aSer1>
        <aSer2>0</aSer2>
        <aPa>0</aPa>
        <viewmode>1</viewmode>
        <vrSel>0</vrSel>
        <aSym>0</aSym>
        <aTbox>0</aTbox>
        <AscS1>0</AscS1>
        <AscS2>0</AscS2>
        <AscS3>0</AscS3>
        <aSer3>0</aSer3>
        <eProf>0</eProf>
        <aLa>0</aLa>
        <aPa1>0</aPa1>
        <AscS4>0</AscS4>
        <aSer4>0</aSer4>
        <StkLoc>0</StkLoc>
        <TrcWin>0</TrcWin>
        <newCpu>0</newCpu>
        <uProt>0</uProt>
      </DebugFlag>
      <LintExecutable></LintExecutable>
      <LintConfigFile></LintConfigFile>
    </TargetOption>
  </Target>

  <Group>
    <GroupName>CMSIS</GroupName>
    <tvExp>0</tvExp>
    <tvExpOptDlg>0</tvExpOptDlg>
    <cbSel>0</cbSel>
    <RteFlg>0</RteFlg>
    <File>
      <GroupNumber>1</GroupNumber>
      <FileNumber>1</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>1</TopLine>
      <CurrentLine>1</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\cmsis\TARGET_NXP\TARGET_LPC11UXX\system_LPC11Uxx.c</PathWithFileName>
      <FilenameWithoutPath>system_LPC11Uxx.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>1</GroupNumber>
      <FileNumber>2</FileNumber>
      <FileType>2</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>34</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>30</TopLine>
      <CurrentLine>31</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\..\shared\cmsis\TARGET_NXP\TARGET_LPC11UXX\TOOLCHAIN_ARM_STD\startup_LPC11Uxx.s</PathWithFileName>
      <FilenameWithoutPath>startup_LPC11Uxx.s</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
  </Group>

  <Group>
    <GroupName>Common</GroupName>
    <tvExp>0</tvExp>
    <tvExpOptDlg>0</tvExpOptDlg>
    <cbSel>0</cbSel>
    <RteFlg>0</RteFlg>
    <File>
      <GroupNumber>2</GroupNumber>
      <FileNumber>3</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>1</TopLine>
      <CurrentLine>10</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\Common\src\flash_svc.c</PathWithFileName>
      <FilenameWithoutPath>flash_svc.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>2</GroupNumber>
      <FileNumber>4</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>31</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>50</TopLine>
      <CurrentLine>83</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\Common\src\main.c</PathWithFileName>
      <FilenameWithoutPath>main.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>2</GroupNumber>
      <FileNumber>5</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>24</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>46</TopLine>
      <CurrentLine>68</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\Common\src\RTX_Config.c</PathWithFileName>
      <FilenameWithoutPath>RTX_Config.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>2</GroupNumber>
      <FileNumber>6</FileNumber>
      <FileType>2</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\Common\src\SVC_Table.s</PathWithFileName>
      <FilenameWithoutPath>SVC_Table.s</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>2</GroupNumber>
      <FileNumber>7</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\Common\src\usb_config.c</PathWithFileName>
      <FilenameWithoutPath>usb_config.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>2</GroupNumber>
      <FileNumber>8</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\Common\src\usbd_user_msc.c</PathWithFileName>
      <FilenameWithoutPath>usbd_user_msc.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>2</GroupNumber>
      <FileNumber>9</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\Common\src\version.c</PathWithFileName>
      <FilenameWithoutPath>version.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
  </Group>

  <Group>
    <GroupName>HAL</GroupName>
    <tvExp>0</tvExp>
    <tvExpOptDlg>0</tvExpOptDlg>
    <cbSel>0</cbSel>
    <RteFlg>0</RteFlg>
    <File>
      <GroupNumber>3</GroupNumber>
      <FileNumber>10</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>11</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>83</TopLine>
      <CurrentLine>84</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\hal\TARGET_NXP\TARGET_LPC11U35\flash.c</PathWithFileName>
      <FilenameWithoutPath>flash.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>3</GroupNumber>
      <FileNumber>11</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\hal\TARGET_NXP\TARGET_LPC11U35\gpio.c</PathWithFileName>
      <FilenameWithoutPath>gpio.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>3</GroupNumber>
      <FileNumber>12</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\hal\TARGET_NXP\TARGET_LPC11U35\read_uid.c</PathWithFileName>
      <FilenameWithoutPath>read_uid.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>3</GroupNumber>
      <FileNumber>13</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\hal\TARGET_NXP\TARGET_LPC11U35\usbd_LPC11Uxx.c</PathWithFileName>
      <FilenameWithoutPath>usbd_LPC11Uxx.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>3</GroupNumber>
      <FileNumber>14</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>45</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>1</TopLine>
      <CurrentLine>15</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\hal\TARGET_NXP\TARGET_LPC11U35\vector_table.c</PathWithFileName>
      <FilenameWithoutPath>vector_table.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
  </Group>

  <Group>
    <GroupName>USBStack</GroupName>
    <tvExp>0</tvExp>
    <tvExpOptDlg>0</tvExpOptDlg>
    <cbSel>0</cbSel>
    <RteFlg>0</RteFlg>
    <File>
      <GroupNumber>4</GroupNumber>
      <FileNumber>15</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\..\shared\USBStack\SRC\usbd_core.c</PathWithFileName>
      <FilenameWithoutPath>usbd_core.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>4</GroupNumber>
      <FileNumber>16</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\..\shared\USBStack\SRC\usbd_core_msc.c</PathWithFileName>
      <FilenameWithoutPath>usbd_core_msc.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>4</GroupNumber>
      <FileNumber>17</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\..\shared\USBStack\SRC\usbd_hw.c</PathWithFileName>
      <FilenameWithoutPath>usbd_hw.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>4</GroupNumber>
      <FileNumber>18</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\..\shared\USBStack\SRC\usbd_msc.c</PathWithFileName>
      <FilenameWithoutPath>usbd_msc.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
  </Group>

  <Group>
    <GroupName>RTX</GroupName>
    <tvExp>0</tvExp>
    <tvExpOptDlg>0</tvExpOptDlg>
    <cbSel>0</cbSel>
    <RteFlg>0</RteFlg>
    <File>
      <GroupNumber>5</GroupNumber>
      <FileNumber>19</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\..\shared\rtos\HAL_CM1.c</PathWithFileName>
      <FilenameWithoutPath>HAL_CM1.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>5</GroupNumber>
      <FileNumber>20</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\..\shared\rtos\rt_Event.c</PathWithFileName>
      <FilenameWithoutPath>rt_Event.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>5</GroupNumber>
      <FileNumber>21</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\..\shared\rtos\rt_List.c</PathWithFileName>
      <FilenameWithoutPath>rt_List.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>5</GroupNumber>
      <FileNumber>22</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\..\shared\rtos\rt_Mailbox.c</PathWithFileName>
      <FilenameWithoutPath>rt_Mailbox.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>5</GroupNumber>
      <FileNumber>23</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\..\shared\rtos\rt_MemBox.c</PathWithFileName>
      <FilenameWithoutPath>rt_MemBox.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>5</GroupNumber>
      <FileNumber>24</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\..\shared\rtos\rt_Mutex.c</PathWithFileName>
      <FilenameWithoutPath>rt_Mutex.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>5</GroupNumber>
      <FileNumber>25</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\..\shared\rtos\rt_Robin.c</PathWithFileName>
      <FilenameWithoutPath>rt_Robin.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>5</GroupNumber>
      <FileNumber>26</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\..\shared\rtos\rt_Semaphore.c</PathWithFileName>
      <FilenameWithoutPath>rt_Semaphore.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>5</GroupNumber>
      <FileNumber>27</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\..\shared\rtos\rt_System.c</PathWithFileName>
      <FilenameWithoutPath>rt_System.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>5</GroupNumber>
      <FileNumber>28</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\..\shared\rtos\rt_Task.c</PathWithFileName>
      <FilenameWithoutPath>rt_Task.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>5</GroupNumber>
      <FileNumber>29</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\..\shared\rtos\rt_Time.c</PathWithFileName>
      <FilenameWithoutPath>rt_Time.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
    <File>
      <GroupNumber>5</GroupNumber>
      <FileNumber>30</FileNumber>
      <FileType>1</FileType>
      <tvExp>0</tvExp>
      <Focus>0</Focus>
      <ColumnNumber>0</ColumnNumber>
      <tvExpOptDlg>0</tvExpOptDlg>
      <TopLine>0</TopLine>
      <CurrentLine>0</CurrentLine>
      <bDave2>0</bDave2>
      <PathWithFileName>..\..\..\shared\rtos\rt_Timer.c</PathWithFileName>
      <FilenameWithoutPath>rt_Timer.c</FilenameWithoutPath>
      <RteFlg>0</RteFlg>
      <bShared>0</bShared>
    </File>
  </Group>

</ProjectOpt>
